@import '../variables.scss';

.outerContainer {
  position: relative;
  margin-top: 4rem;
  
  width: 90vw;
  max-width: 550px;
  
  .experienceRoot {
    margin-bottom: 1rem;
    text-align: left;

    .experience {
      display: flex;

      .year {
        font-weight: 600;
        font-size: 0.58rem;
        flex: 1;
        margin-top: .2rem;
      }

      .rightContainer {
        display: flex;
        flex-direction: column;
        flex: 3;

        .title {
          font-weight: 500;
          font-size: 1rem;
        }

        .company {
          font-weight: 600;
          font-size: 0.58rem;
          color: $text-3;
          margin-top: .5rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
