@import '../variables.scss';

.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;

  .title {
    margin-bottom: 1rem;
  }
}
