@import "variables";

.root {
  padding-bottom: 2rem;
  min-height: 100vh;

  h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 3rem 1rem 2rem;
  }

  .topCategories {
    padding: 0 2rem;
    margin-bottom: 2rem;

    .tags {
      display: flex;
      gap: 0.75rem;
      flex-wrap: wrap;
      justify-content: center;

      .tag {
        &::selection {
          background-color: transparent;
        }

        background: $text-3;
        padding: 0.5rem 0.5rem;
        font-size: 0.75rem;
        font-weight: 600;

        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }

        &.selected {
          background: $primary;
          opacity: 1;
        }

        transition: background 0.3s ease-in-out, opacity 0.2s ease-in-out;
      }
    }
  }

  .projectList {
    padding: 0 2rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      padding: 0;
    }

    .project {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 180px;
      color: $text;

      img {
        width: 80px;
        margin-top: 25px;
        transition: all 0.2s ease-in-out;
      }

      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.75em;

        font-weight: 500;
        width: 100%;
        text-align: center;
        background: #00000080;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        img {
          opacity: 0;
          transform: translateY(-30px);
        }

        .title {
          height: 100%;
          font-size: 1em;
        }
      }
    }
  }
}
